/*––––––––––––––––––––

	Made by MrBoomDev in 2022
	
	Discord: https://bit.ly/mrboomdevds
	YouTube: https://bit.ly/mrboomdevyt
	VKontake: https://bit.ly/mrboomdevvk
	
––––––––––––––––––––*/

/*Variables*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
	--text: #FAFAFA;
	--link: #F2E6FF;
	--category: #FFE6FF;
	--primary: #D05EFC;
	--card: #140A23;
	--card-active: #1D112F;
	--shadow: 2px 2px 5px rgba(0, 0, 0, .1);
	--background: #11071F;
	--panel: rgba(0, 0, 0, .1);
}

/*Global*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::selection {
	color: var(--link);
	background-color: rgba(102, 0, 204, .5);
}
.reveal {
	opacity: 0;
	transition: 1s;
}
.reveal {
	opacity: 0;
}
.revealed {
	opacity: 1;
	transition: 1s;
}
.content {
	margin: auto;
	width: min(50rem, 90%);
}

/*Text Widgets*/

h1, h2, h3, h4, h5, h6, a, p, li, label, span, button {
	font-family: sans-serif;
	text-decoration: none;
	list-style-type: none;
	color: white;
	-webkit-tap-highlight-color: transparent;
}
a:not(hover) {
	color: var(--link);
}
h1 {
	font-family: 'Lato', sans-serif;
}
h2 {
	color: var(--category);
}
h3 {
	font-family: 'Lato', sans-serif;
}
p {
	color: var(--text);
}
button.neon {
	padding: .8em 2em;
	border: solid var(--primary) 1px;
	border-radius: 2px;
	font-size: 1em;
	color: var(--primary);
	background-color: rgba(17, 7, 31, .4);
	transition: .2s;
}
button.neon span {
	color: var(--primary);
}
button.neon:hover:not(:disabled) {
	color: black;
	background-color: var(--primary);
	transform: scale(.95);
}
button.neon:hover:not(:disabled) span {
	color: black;
}
button.neon:disabled {
	opacity: .75;
}
.tags {
	display: flex;
	flex-wrap: wrap;
}
.tag {
	display: flex;
	align-items: center;
	margin: .3em .3em;
	padding: .6em 1em;
	font-size: .8em;
	font-weight: 500;
	border-radius: 5px;
	box-shadow: var(--shadow);
	background-color: var(--card-active);
	text-align: center;
}
.tag img {
	height: 1.5rem;
	margin-right: .8rem;
}
.tag:first-child {
	margin-left: 0;
}

/*Custom Widgets*/

:is(card-product, card-button, card-simple, card-icon, card-small, card-layers) > div, card-simple img {
	box-shadow: var(--shadow);
	background-color: var(--card);
	border-radius: .3rem;
	max-width: 100%;
	transition: .3s;
}
:is(card-product, card-button, card-simple, card-icon, card-small, card-layers)[clickable]:hover > div, card-simple:hover img {
	background-color: var(--card-active);
	transform: scale(0.95);
}

card-product .banner {
	width: 100%;
	border-radius: .3rem .3rem 0 0;
}
card-product .about {
	padding: 1rem 1rem 1.6rem 1rem;
}
card-product h3 {
	font-size: 1.4em;
}
card-product span {
	color: var(--primary);
	font-size: .95em;
	margin: .4em 0;
	display: block;
}
card-product p {
	font-size: .9em;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

card-button > div {
	display: flex;
	align-items: center;
	padding: 1.2rem;
	padding-bottom: 1.3rem;
}
card-button h2 {
	font-size: 1.4em;
	margin-bottom: .2em;
}
card-button span {
	margin: 0 1rem 0 1.5rem;
	text-align: center;
	color: var(--link);
	font-size: 2em;
	font-weight: 700;
}
card-button p {
	margin-top: .6em;
	font-size: 1em;
	line-height: 1.5;
}

card-icon > div {
	padding: 1rem;
	text-align: center;
}
card-icon img {
	height: 4rem;
	width: 4rem;
}
card-icon h6 {
	margin-top: 1em;
	font-size: 1em;
	font-weight: 500;
}

card-color {
	box-shadow: var(--shadow);
	border-radius: .3rem;
	width: 100%;
	padding: 1rem;
}
card-color p {
	background: rgba(0, 0, 0, .25);
	border-radius: .4em;
	margin-top: .6em;
	padding: .4em;
	float: left;
}

.card-small {
	padding: 1rem;
	font-size: .8em;
	line-height: 1.4;
	transition: .2s;
	
	box-shadow: var(--shadow);
	background-color: var(--card);
	border-radius: .3rem;
	max-width: 100%;
	transition: .3s;
}
.card-small .about {
	display: inline-block;
}
.card-small p {
	float: left;
	margin-top: .3em;
	font-size: 0.9em;
}

.card.layers {
	border: solid var(--card) .2rem;
	position: relative;
}
.card.layers > img, img.card.layers {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: .3rem;
}
.card.layers .shadow {
	position: absolute;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0) 25%,
		var(--background) 100%
	);
	height: 100%;
	width: 100%;
	z-index: 0;
	top: 0;
}
.card.layers .about {
	padding: 1rem;
	position: absolute;
	bottom: 0;
}

.switch {
	position: relative;
	width: 3.6em;
	height: 2em;
}
.switch input {display: none }
.slider {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--card-active);
	transition: .2s;
	border-radius: 1em;
}
.slider:before {
	position: absolute;
	content: "";
	height: 1.5em;
	width: 1.6em;
	left: 4px;
	bottom: 4px;
	background-color: var(--link);
	border-radius: 50%;
	transition: .2s;
}
input:checked + .slider { background-color: var(--primary) }
input:checked + .slider:before {
	transform: translateX(95%);
	background-color: black;
}

/*Layouts*/

html {
	background-color: var(--background);
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
}
body {
	background-color: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
}
header, aside, footer {
	background-color: var(--panel);
}

header {
	display: flex;
	align-items: center;
	min-height: 4rem;
	padding: 1rem;
}
header > * {
	flex-wrap: wrap;
}
header h2 {
	flex-grow: 1;
	color: var(--primary);
}

#popup {
	width: 100%;
	height: 100%;
	background: var(--background);
	position: fixed;
	z-index: 999;
	overflow-y: scroll;
	top: 0;
	left: 0;
	opacity: 1;
	transition: transform .3s, height .5s, opacity .6s;
}
#popup.reveal {
	transform: translateY(-150%);
	height: 75%;
	opacity: .0;
	transition: .3s;
}
#popup > .wrapper {
	position: relative;
	height: 100%;
}

#messages {
	position: fixed;
	z-index: 999;
	right: 1rem;
	bottom: 1rem;
}
#messages > div {
	box-shadow: var(--shadow);
	background-color: var(--card);
	border-radius: .3rem;
	max-width: 100%;
	transition: .3s;
	padding: 1rem;
	
	width: 15rem;
	max-height: 0;
	transform: translateX(150%);
	transition: 1s, opacity .2s, transform .3s, margin .4s;
}
#messages > div.active {
	max-height: 999px;
	margin-top: .3rem;
	transform: translateX(0);
}
#messages textarea {
	margin-top: 1em;
	background: black;
	color: white;
	height: min(50vh, 20rem);
	width: 120%;
}