/*Global*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::selection {
	color: #f2e6ff;
	background: rgba(102, 0, 204, 0.5);
}

/*General*/

.content {
	max-width: 1000px;
	margin: auto;
}
.reveal{
	opacity: 0;
	transform: translateY(75px);
	transition: all 1s ease;
}
.active{
	opacity: 1;
	transform: translateY(0px);
}
#scrollFixer {
	height: 1px;
	opacity: 0;
}

/*Layouts*/

html {
	background: #11071F;
	scrollbar-color: rgba(126, 126, 126, 0.5) #0d001a;
	scroll-behavior: smooth;
}
body { background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05)); }
header {
	width: 100%;
	height: 64px;
	position: fixed;
	top: 0;
	z-index: 999;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	background: rgba(17, 7, 31, 0.9);
}
header h2 {
	float: left;
	line-height: 64px;
	font-size: 24px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #D05EFC;
}
header ul { float: right; }
header li { float: left; }
header li a {
    margin-left: 25px;
    float: left;
    line-height: 64px;
    font-size: 15px;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}
header ul li a:hover { text-decoration: underline; }
#burger { display: none; }
main { 
	padding: 30vh 0 25vh 0;
	text-align: center;
}
section { paddin-top: 5vh; }
footer {
	padding: 25px 0 45px 0;
	background: rgba(0, 0, 0, 0.2);
}
footer .second {
	float: right;
	margin-left: 50px;
}
footer ul li { margin: 6px 0; }
footer a:hover { text-decoration: underline; }
footer #follow li {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}
footer #follow li img {
	width: 30px;
	height: 30px;
	object-fit: scale-down;
	filter: invert(40%) sepia(100%) saturate(100%) hue-rotate(234deg) brightness(100%) contrast(103%);
}
footer #follow li img:hover { filter: invert(40%) sepia(100%) saturate(100%) hue-rotate(234deg) brightness(125%) contrast(103%); }

/*Widgets*/

h1, h2, h3, h4, h5, h6, a, p, li, span, button {
	font-family: sans-serif;
	text-decoration: none;
	list-style-type: none;
	color: #FFFFFF;
	-webkit-tap-highlight-color: transparent;
}
a { color: #f2e6ff; }
a:hover { color: #FFFFFF; }
h1 { font-family: 'Roboto', sans-serif; }
h2 { color: #ffe6ff; }
p {
	font-family: 'Ubuntu', sans-serif;
	color: #fafafa;
}
button {
	min-width: 120px;
	padding: 10px 25px;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: #D05EFC;
	font-size: 16px;
	color: #D05EFC;
	background: none;
	cursor: pointer;
	transition: 0.1s;
}
button:hover {
	font-size: 16.8px;
	color: #000000;
	background: #D05EFC;
	transform: scale(0.95);
}
hr { opacity: 0.15; }
lottie-player {
	width: 300px;
	height: 300px;
	margin: auto;
}